<strong>Olá, {{ deliveryman }}</strong>
<p>Uma encomenda foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Local de entrega: </strong> {{ recipient }} <br />
  <strong>Descrição do produto: </strong> {{ name }} <br />
  <br />
  <small>
    A encomenda de id: {{ delivery_id }} está cancelada.
  </small>
</p>
