<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cadastro de encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Local de entrega: </strong> {{ recipient }} <br />
  <strong>Descrição do produto: </strong> {{ name }} <br />
  <br />
  <small>
    O produto está disponível para retirada.
  </small>
</p>
